#**************************************************************
[DEFAULT]
LANG = English
LC = en
TREEBANK = EWT
TB = ewt
save_dir = saves/default
train_conllus = data/CoNLL18/UD_%(LANG)s-%(TREEBANK)s/%(LC)s_%(TB)s-ud-train.conllu
dev_conllus = data/CoNLL18/UD_%(LANG)s-%(TREEBANK)s/%(LC)s_%(TB)s-ud-dev.conllu
test_conllus = %(dev_conllus)s

#***************************************************************
# Network
[Config]

[Network]
input_vocabs = FormMultivocab:UPOSTokenVocab:XPOSTokenVocab
output_vocabs = DepheadIndexVocab:DeprelTokenVocab
extra_vocabs = LemmaTokenVocab
sum_pos = False
max_steps = 50000
max_steps_without_improvement = 5000
print_every = 100
l2_reg = 0
# neural
conv_keep_prob = .67
recur_keep_prob = .67
hidden_keep_prob = .67
n_layers = 3
first_layer_conv_width = 0
conv_width = 0
recur_size = 200
bidirectional = True
recur_cell = LSTM
recur_func = tanh
drop_type = recurrent
cifg = False
highway = False
highway_func = identity
bilin = False

[GraphOutputs]
evals = deptree

#**************************************************************
# CoNLLU fields
[CoNLLUVocab]

[FormVocab]
[LemmaVocab]
[UPOSVocab]
[XPOSVocab]
[DepheadVocab]
[DeprelVocab]
[SemrelVocab]
[SemheadVocab]

#***************************************************************
# Datasets
[CoNLLUDataset]
max_buckets = 5
batch_size = 10000

[CoNLLUTrainset]
max_buckets = 30
batch_size = 3000

[CoNLLUDevset]

[CoNLLUTestset]

#**************************************************************
# Vocabulary types

#===============================================================
# Numeric vocabs
[IndexVocab]
#neural
hidden_size = 400
hidden_keep_prob = .67
add_linear = True
n_layers = 1
hidden_func = leaky_relu
diagonal = False
linearize = False
distance = False

[IDIndexVocab]

[DepheadIndexVocab]

[SemheadGraphIndexVocab]

#===============================================================
# String Vocabs
[SetVocab]
cased = None
special_token_case = None
special_token_html = None

[PretrainedVocab]
cased = False
special_token_case = upper
special_token_html = True
max_embed_count = 500000
pretrained_file = None
name = None
# neural
linear_size = 100

[FormPretrainedVocab]
pretrained_file = data/word2vec/%(LANG)s/%(LC)s.vectors.xz
name = word2vec

#===============================================================
# Token vocabs
[CountVocab]
cased = None
min_occur_count = None

[TokenVocab]
cased = True
special_token_case = upper
special_token_html = True
min_occur_count = 1
# neural
embed_size = 100
embed_keep_prob = .67
drop_func = unkout
hidden_size = 200
hidden_keep_prob = .67
n_layers = 1
hidden_func = relu

[FormTokenVocab]
cased = False
min_occur_count = 2

[LemmaTokenVocab]
cased = False
min_occur_count = 2

[UPOSTokenVocab]
special_token_html = False

[XPOSTokenVocab]
special_token_html = False

[DeprelTokenVocab]
special_token_case = lower
special_token_html = False
factorized = True
# neural
diagonal = True
add_linear = True
loss_interpolation = .5

[SemrelGraphTokenVocab]
special_token_case = lower
special_token_html = False
factorized = True
# neural
add_linear = True
loss_interpolation = .033

#===============================================================
# Subtoken vocabs
[SubtokenVocab]
cased = True
special_token_case = upper
special_token_html = True
min_occur_count = 1
max_buckets = 3
# neural
embed_size = 100
conv_keep_prob = .67
recur_keep_prob = .67
hidden_keep_prob = .67
linear_keep_prob = .67
n_layers = 1
first_layer_conv_width = 0
conv_width = 0
recur_size = 200
bidirectional = False
recur_cell = LSTM
recur_func = tanh
drop_type = recurrent
cifg = False
highway = False
bilin = False
squeeze_type = final_hidden
linear_size = 100

[FormSubtokenVocab]
min_occur_count = 10

[LemmaSubtokenVocab]
min_occur_count = 10

#===============================================================
# Multivocabs
[Multivocab]
use_token_vocab = True
use_subtoken_vocab = False
use_pretrained_vocab = False
pretrained_files = None
names = None
# neural
combine_func = concat
embed_keep_prob = .67
drop_func = unkout

[FormMultivocab]
use_pretrained_vocab = True

#***************************************************************
# Optimization
[Optimizer]
learning_rate = .002
decay_rate = 0
clip = 1.
mu = .75
nu = .95
epsilon = 1e-12
gamma = 0

[AMSGradOptimizer]
mu = .9
nu = .999
